1 VERSIONINFO
FILEVERSION 1,3,78,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Comments", "Continuous-Delphi Organization\0"
      VALUE "CompanyName", "Ideas Awakened, Inc\0"
      VALUE "FileDescription", "Delphi-Terminal - Dockable Terminal for RAD Studio\0"
      VALUE "FileVersion", "1.3.78.0\0"
      VALUE "InternalName", "Delphi.Terminal\0"
      VALUE "LegalCopyright", "Copyright (c) 2026 Darian Miller\0"
      VALUE "OriginalFilename", "Delphi.Terminal.Plugin.bpl\0"
      VALUE "ProductName", "Delphi-Terminal\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END