// Version: 0.7.9.0

1 VERSIONINFO
FILEVERSION 0,7,11,0
PRODUCTVERSION 0,7,9,0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Comments", "RADProgrammer.com\0"
      VALUE "CompanyName", "Ideas Awakened Inc\0"
      VALUE "FileDescription", "radTerminal - Dockable Terminal for RAD Studio\0"
      VALUE "FileVersion", "0.7.11.0\0"
      VALUE "InternalName", "radTerminalPlugin\0"
      VALUE "LegalCopyright", "Copyright (c) 2026 Darian Miller\0"
      VALUE "OriginalFilename", "radTerminalPlugin370.bpl\0"
      VALUE "ProductName", "radTerminal\0"
      VALUE "ProductVersion", "0.7.9.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
